@charset "ISO-8859-1";

/* My Order */
#main_header {
	margin: 20px;
	margin-left: 40px;
}

.order_table #order_table {
	width: 100%;
}

#order_item {
	text-align: left
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

th {
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
} 

#order_table table {
	border-collapse: collapse;
	width: 100%;
}

#order_table td {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

#order_table th {
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

/* Quantity dropdown */
.dropbtn {
	cursor: pointer;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	padding: 3px 5px;
	background-color: inherit;
	margin: 0;
	width: 50px;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #BBE7FF;
}

#order_quantity {
	padding: 8px;
}

/*Confirm Order by Customer*/
.confirmOrder_customer_info_table {
	width: 800px;
	padding-left: 100px;
}

#confirmOrder_customer_info_table table, th, td {
	padding: 8px;
	border-style: none;
}

#confirmOrder_customer_info_table_header,
	#confirmOrder_customer_info_table_data {
	text-align: left;
}

.confirmOrder_orderList_table {
	width: calc(100% - 200px);
	margin: 20px 0px 5px 0px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: white;
	padding: 10px 10px 12px;
	border-radius: 8px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

#confirmOrder_orderList_item {
	text-align: left;
}

#confirmOrder_orderList_quantity, #confirmOrder_orderList_price {
	text-align: center;
}

#confirmOrder_orderList_table tr {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #C0C2C8;
}

#confirmOrder_orderList_table #row1 {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

#confirmOrder_orderList_table #total_price_table td {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

#confirmOrder_orderList_table #total_price_table th {
	border-bottom: 1px solid white;
}

#caption {
	font-size: 1.2em;
	padding: 0px 0px 10px 0px;
}

.confirmOrder_submit_button {
	margin-top: 44px;
}

/*Customer Manage Order*/
.cust_manage_order_table {
	position: relative;
	background-color: white;
	padding: 15px 15px 17px;
	margin: 0px 0px 20px 40px;
	border-radius: 10px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

#cust_manage_order_table #row1 #cust_manage_order_table_cancelOrderBtn {
	border-top: 1px solid black;
	border-collapse: collapse;
}

.cust_manage_order_table_statusBtn_Delivered {
	background-color: #76FF90;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.cust_manage_order_table_statusBtn_Shipping {
	background-color: #FAE675;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.cust_manage_order_table_statusBtn_Preparing {
	background-color: #FA8D74;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

#cust_manage_order_table td {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

#cust_manage_order_table th {
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

/*Pharmacist Manage Customer Order*/
.phar_manage_order_table {
	position: relative;
	background-color: white;
	padding: 15px 15px 17px;
	margin: 0px 0px 20px 40px;
	border-radius: 10px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

#phar_manage_order_table #row1 #phar_manage_order_table_rejectBtn {
	border-top: 1px solid black;
	border-collapse: collapse;
}

.phar_manage_order_table_editBtn, .phar_manage_order_table_rejectBtn {
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-size: 18px;
}

.phar_manage_order_table_statusBtn_Delivered {
	background-color: #76FF90;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.phar_manage_order_table_statusBtn_Shipping {
	background-color: #FAE675;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.phar_manage_order_table_statusBtn_Preparing {
	background-color: #FA8D74;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

#phar_manage_order_table td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

#phar_manage_order_table th {
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

#phar_manage_order_table_item{
text-align: left;
}

/*Edit Order by Customer*/
.edit_order_table {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

#edit_order_table #edit_order_table_header{
	width: 150px;
}

#edit_order_table table, th, td {
	padding: 8px;
	border-style: none;
}

#edit_order_table_header, #edit_order_table_data {
	text-align: left;
}

#edit_input, textarea, select {
	width: 400px;
	padding: 8px 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1.5px solid #89AFFF;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 15px;
}

#row4 #edit_order_table_data {
	width: 400px;
	padding: 16px 12px;
}

#main_header_edit_order {
	margin: 20px;
	margin-left: 40px;
	text-align: center;
}

/* View Product by Customer*/
/* Row */
.product_box {
	position: relative;
	width: calc(100%);
	padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	background-color: inherit;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px; */
}

.product_box>div {
	background-color: #f1f1f1;
	margin: 10px;
}

/* Column */
.product_box_card {
	position: relative;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
	min-width: 0;
	max-width: 241px; /* 240pc */
	flex-basis: 50%;
}

.product_box_card img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.product_category {
	margin: 20px;
	margin-left: 40px;
}

.product_category_dropbtn {
	cursor: pointer;
	font-size: 16px;
	border: 2px solid black;
	border-radius: 3px;
	color: black;
	padding: 3px 5px;
	background-color: inherit;
	margin: 0;
}

#product_pic {
	width: 220px;
	height: 220px;
}

.product_name {
	display: inline-block;
	color: blue;
	max-width: 200px;
	font-size: 1.25em;
	min-height: 50px;
	max-height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.product_descp {
	display: inline-block;
	color: grey;
	min-height: 80px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box !important;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.product_name:hover {
	min-height: 75px;
	transition: 0.7s;
}

.product_descp:hover {
	min-height: 230px;
	transition: 1.0s;
}

.product_price {
	display: flex;
	justify-content: space-between;
}

.product_price_text {
	color: red;
	font-size: 1.20em;
}

.button_container {
	display: flex;
	/* 	align-items: center; */
}

.button_container .cart_quantity {
	max-width: 40px;
	text-align: center;
	display: inline-block;
	margin: 0px 5px;
	border: 1px solid #989DA3;
	border-radius: 3px;
}

.cart_qty_add, .cart_qty_minus {
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	text-align: center;
}

.cart_qty_add:hover, .cart_qty_minus:hover {
	background-color: #ced4da;
}

/* Customer List view by admin*/
.customer_details_table{
position: relative;
	background-color: white;
	padding: 15px 15px 17px;
	margin: 0px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

#customer_details_table table {
	border-collapse: collapse;
	width: 100%;
}

#customer_details_table td {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

#customer_details_table th {
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

#customer_details_table #row1 #customer_details_table_trashBtn{
border-top: 1px solid black;
	border-collapse: collapse;
}

/*Edit Customer by Admin*/
.customer_info_table {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

#customer_info_table #customer_info_table_header {
	width: 80px;
}

#customer_info_table table, th, td {
	padding: 8px;
	border-style: none;
}

#customer_info_table_header, #customer_info_table_data {
	text-align: left;
}

#edit_input, textarea, select {
	width: 400px;
	padding: 8px 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1.5px solid #89AFFF;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 15px;
}

#main_header_customer_info {
	margin: 20px;
	margin-left: 40px;
	text-align: center;
}

/* Manage Order by Pharmacist */
.order_info_table {
	width: 1000px;
	padding-left: 100px;
	margin-bottom:20px;
}

#order_info_table table, th, td {
	padding: 8px;
	border-style: none;
}

#order_info_table_header,
	#order_info_table_data {
	width:150px;
	text-align: left;
}

#order_info_table_data_column2 {
text-align: left;
width: 400px;
}

.edit_order_pending_table {
	position: relative;
	background-color: white;
	padding: 10px 15px 17px;
	margin: 0px 0px 20px 40px;
	border-radius: 10px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

#edit_order_pending_table tr {
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #C0C2C8;
}

#edit_order_pending_table #row1 {
	border-bottom: 2px solid black;
	border-collapse: collapse;
	padding: 0px 0px 10px;
}

#edit_order_pending_table #row1 #edit_order_pending_table_rejectBtn {
	border-top: 1px solid black;
	border-collapse: collapse;
}

.edit_order_pending_table_editBtn, .edit_order_pending_table_rejectBtn {
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-size: 18px;
}

#edit_order_pending_table_item{
text-align: left;
}