@charset "ISO-8859-1";
/* dashboard three main card */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
/
.row {
	display:flex;
	justify-content: center;
	margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Table used in stock view */
#myTable{
  border-collapse: collapse;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
#myTable th,
#myTable td {
    padding: 12px 15px;
}
#myTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
#myTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#myTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#myTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* add new button */
.button {
  display: flex;
    justify-content: center;
    text-align: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009879;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}