* {
    margin: 0;
    padding: 0;
}
/*drop down menu for profile*/
.dropdownProfile {
  position: relative;
  display: inline-block;
}
.dropdownProfile-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 50px;
}
.dropdownProfile-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;

}
.dropdownProfile-content a:hover {background-color: #ddd;}
.dropdownProfile:hover .dropdownProfile-content {display: block;  }

/*arrangement of the top menu at home page*/
.topmenu{
	width: 100%;
	display: flex;
    padding:5px 10px;
     justify-content: space-between;
}
.toplogo{
	 justify-content: flex-start;
	 width: 5px;
	 height: 5px;
}
.toplink{
    justify-content: flex-end;
     overflow: hidden;
       background-color: transparent;
}
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.topnav a, .toplink a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.topnav a:hover, .toplink a:hover{
  background-color: #ddd;
  color: black;
}

/*the slide show in home page*/
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide-wrapper {
    width: calc(728px * 4);
    animation: slide 10s ease infinite;
}


@keyframes slide {
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}

/*the body of the content*/
body{
    background-image: url("img/health-1.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:link,a:visited{
    color:black;
}
/*the menu of the header */
.header{
    color: black;
    display: flex;
}


.menu {
    background-color: transparent;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
}

.HealthCareLogo{
    display:flex;
    justify-content: flex-start;
}

.link{
    display: flex;
    justify-content: flex-end;
}

.username{
    margin-right: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content-item {
    background-color: transparent;
    top:69px;
    bottom:0;
    flex: 1;
}
/*the side menu design */
.side-menu {
    position:absolute;
    flex: initial;
    width: 175px;
    top:69px;
    bottom: 0px;
    padding-bottom:0px;
    justify-content: center;
}

.side-menu-option {
    background-color: rgba(255, 255, 255, 0.214);
    height: 50px; 
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    margin:10px 5px;
    border-radius:5px;
    padding-left: 7px;
    padding-right: 7px;
}

.page{
    display:flex;
    flex-direction: column;
    margin-left:175px;
    margin-top:69px;
}
/* the main content design */
.main-content-item{
    background-color: rgba(255, 255, 255, 0.562);
    margin:10px 5px;
    border-radius:5px;
    padding:5px;
}

.main-title{
    display:flex;
    justify-content: center;
}

.main-content{
    height:650px;
}
/* the footer design */
.footer-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    bottom:0;
}

.footer-bar{
    width: 900px;
    height: 200px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.footer-text{
    display:flex;
    flex-direction: column;
    border: 1px solid #fff; 
    background-color: rgba(255, 255, 255, 0.562);
    margin:10px 5px;
    border-radius:5px;
    padding:5px;
}
